* {
  box-sizing: border-box;
}

#content{
  width: 480px;
  margin: 0 auto;
}

.editor{
  border: 1px solid grey;
  padding: 10px;
  height: 300px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 20px;
}

.btn  {
  background-color: #6096BA;
}
